{% load static %}
<html>
     <head>
        <title>Blog Izimeal</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class = "page-header">
            <h1><strong> IziMeal </strong></h1>
        </div>

        <div>
            <p>Sua cozinha, rápida, objetiva e sem perder tempo com mercado. Com Izimeal.</p>
            <h2><p>Acessando o site do <a href="http://izimeal.com.br/">Izimeal</a> você encontra diversas receiras e dicas para melhorar sua experiência na cozinha, acesse já!</p></h2>
            <p>A culinária é a arte de cozinhar ou confeccionar alimentos e foi evoluindo de acordo com a história da humanidade e possui características diferentes em cada cultura.A culinária reflete os costumes de um povo e também se reflete em outros aspectos culturais como as religiões e a política.</p>
            <p> Não somente os alimentos, mas também os utensílios e as técnicas utilizados na culinária fazem parte de um acervo cultural particular.</p>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% for post in posts %}
                        <div class="post">
                            <div class="date">
                                <p>published: {{ post.published_date }}</p>
                            </div>
                            <h2><a href="">{{ post.title }}</a></h2>
                            <p>{{ post.text|linebreaksbr }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>

