<html>
     <head>
        <title>Blog Izimeal</title>
    </head>
    <body>
        <div>
            <h1><strong> IziMeal </strong></h1>
        </div>

        <div>
            <p>Sua cozinha, rápida, objetiva e sem perder tempo com mercado. Com Izimeal.</p>
            <h2><p>Acessando o site do <a href="http://izimeal.com.br/">Izimeal</a> você encontra diversas receiras e dicas para melhorar sua experiência na cozinha, acesse já!</p></h2>
            <p>A culinária é a arte de cozinhar ou confeccionar alimentos e foi evoluindo de acordo com a história da humanidade e possui características diferentes em cada cultura.A culinária reflete os costumes de um povo e também se reflete em outros aspectos culturais como as religiões e a política.</p>
            <p> Não somente os alimentos, mas também os utensílios e as técnicas utilizados na culinária fazem parte de um acervo cultural particular.</p>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2>Sobre os criadores</h2>
            <p>Pedro e Joaquim foram os idealizadores dessa revolução na cozinha. Os dois são politrecos e um torce pro grande São Paulo e o outro pro minúsculo Flamengo. A ideia surgiu quando Joaquim estava assistindo um jogo do Neymar, e no meio do jogo, o menino ney parou a bola e deu um berro: QUERIA SABER COZINHAR.</p>
        </div>
    </body>
</html>

